.single__hero__card {
    padding: 5px;
    background: #000;
    border-radius: 25px;
}

/* .card__img img {
    border-radius: 10px;
}

.card__img {
    margin-bottom: 10px;
}

.card__title {
    color: #000000;
    font-size: 1rem;
    margin-bottom: 15px;
}

.creator__img {
    width: 40px;
    height: 40px;
}

.creator__info h6 {
    font-size: 0.8rem;
    color: #000000;
    opacity: 80%;
    margin-bottom: 0;
}

.creator__info p {
    font-size: 0.7rem;
    columns: #000000;
} */