.library__section {
    padding: 120px auto;
}

.single__hero__card {
    border-radius: 25px;
}

.btn__area {
    margin-top: 30px;
}

.card__content .card__title {
    padding-top: 20px;
}