.footer h5 {
    font-size: 1.1rem;
    color: #000000;
}

.footer {
    padding-bottom: 10px;
    background: #E6A58E;
}

.list__item {
    background: transparent;
    padding-left: 0;
    border: none;
}

.list__item a {
    text-decoration: none;
    color: #000000;
    opacity: 85%;
    font-size: 0.9rem;
}

.list__item a:hover {
    color: #000000;
    opacity: 85%;
}

.newsletter {
    width: 100%;
    border-radius: 50px;
    color: #000000;
    padding: 8px 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
    outline: none;
    font-size: 0.8rem;
    background: #FFFFFF;
}

::placeholder {
    color: #000000;
    opacity: 85%;
}

.social__links span a {
    text-decoration: none;
    color: #000000;
    opacity: 85%;
    font-size: 1.2rem;
    font-weight: 400;
    transition: 0.3s;
}

.social__links span a:hover {
    color: #FFF1E6;
}

.copyright {
    font-size: 0.8rem;
    padding-top: 30px;
    margin: 0px;
}